body{
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.profile{
  width: 150px;
  

}
.card{
  width: 400px;
  /* margin-top
  margin-right
  margin-bottom
  margin left
  short hand : 
  margin:20px 0 0 10px;

  margin: 10px(vertical)auto(horizontal);

  */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border:1px dotted fuchsia ;
  border-bottom: 10px solid rgb(255, 0, 98);
  background-color: rgb(203, 181, 223);
}
.details{
  
  color: rgb(255, 0, 98);
  padding: 20px;
  margin-left: 20px;
  
  

}
.dotted{
  border: 1px dotted fuchsia;
  
}